<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>SignUp - Radha PolyClinic</title>
</head>

<style>
  body {
    background-color: rgb(194, 204, 204);
  }
</style>

<body>
  <form style="width: 20%; margin: auto; margin-top: 10%;"  method="POST" action="/register">

    <img style="height: 65px;
      width: 218px;
      margin-top: 0px;
      filter: contrast(5);
      margin-bottom: 20px;
      margin-left: 65px;" src="../static/images/logo3.png" alt="logo">

    <div class="form-row">
      <div class="form-group col">
        <input type="text" class="form-control" name="firstname" placeholder="First name">
      </div>
      <div class="form-group col">
        <input type="text" class="form-control" name="lastname" placeholder="Last name">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">        
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
      </div>
      <div class="form-group col-md-12">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group col-md-12">
        <input type="password" class="form-control" id="password" name="passw" placeholder="Choose your password">
      </div>
    </div>
    <div class="form-group">      
      <input type="text" class="form-control" id="inputAddress" name="address1" placeholder="Apartment, Studio, or floor">
    </div>
    <div class="form-group">      
      <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="1234 Main St">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">        
        <input type="text" class="form-control" name="city" id="inputCity" placeholder="City">
      </div>
      <div class="form-group col-md-4">  
        <select id="inputState" class="form-control" name="state">
          <option selected>State</option>
          <option>Bihar</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" id="inputZip" name="zip" placeholder="PIN">
      </div>
    </div>

    
  <button onclick="{{params}}" type="submit" class="btn btn-secondary col">SignUp</button>
    <div class="my-2">Already have an account?<a href="/login"> LogIn</a></div>
  </form>


  <script src="../static/index.js"></script>
</body>

</html>